* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.curr {
  background-color: #0a8f56;
}
.active {
  background-color: #fff !important;
}
.green {
  background-color: #67c23a !important;
  color: #fff !important;
}
.bottom {
  border-bottom: 2px solid #0a8f56 !important;
  color: #333 !important;
  font-weight: 700 !important;
}
.login-body {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  width: 660px;
  height: 460px;
  border-radius: 5px;
  overflow: hidden;
}
.login-body .login_left {
  float: left;
  width: 248px;
  height: 460px;
  background-image: url(https://cdn.uuzixue.com/image/pc/login-left.png);
}
.login-body .login_right {
  float: left;
  width: 412px;
  height: 100%;
  padding-left: 35px;
  background-color: #fff;
}
.login-body .login_right .login-box {
  width: 100%;
  height: 100%;
}
.login-body .login_right .login-box .top {
  display: flex;
  justify-content: space-between;
  width: 377px;
  height: 70px;
  line-height: 70px;
}
.login-body .login_right .login-box .top i {
  cursor: pointer;
  margin: -5px 16px 0 0;
  font-size: 15px;
}
.login-body .login_right .login-box .top .top-title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
}
.login-body .login_right .login-box .top .top-title span {
  color: #666;
  font-size: 18px;
  font-weight: 400;
}
.login-body .login_right .login-box .box-lb {
  width: 342px;
  height: 293px;
  text-align: center;
}
.login-body .login_right .login-box .box-lb .lb {
  width: 342px;
  height: 41px;
  line-height: 41px;
  border-bottom: 2px solid #e4e7ed;
}
.login-body .login_right .login-box .box-lb .lb .un {
  margin-left: 20px;
}
.login-body .login_right .login-box .box-lb .lb .wx,
.login-body .login_right .login-box .box-lb .lb .un {
  float: left;
  cursor: pointer;
  width: 72px;
  height: 41px;
  color: #666;
  font-size: 18px;
  font-weight: 400;
}
.login-body .login_right .login-box .box-lb .wxsys .code {
  width: 300px;
  height: 223px;
  margin: 0 auto;
}
.login-body .login_right .login-box .box-lb .wxsys .code img {
  width: 200px;
  margin-top: 15px;
}
.login-body .login_right .login-box .box-lb .wxsys p {
  color: #373737;
  font-size: 13px;
  font-weight: 400;
}
.login-body .login_right .login-box .box-lb .wxsys .button {
  margin-top: 20px;
}
.login-body .login_right .login-box .box-lb .wxsys .button button {
  border: 0;
  background: transparent;
  font-size: 14px;
  color: #576b95;
}
.login-body .login_right .login-box .box-lb .undl {
  display: none;
  margin-top: 15px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box {
  width: 342px;
  height: 238px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content {
  position: relative;
  display: flex;
  width: 342px;
  height: 40px;
  margin-bottom: 18px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content:nth-child(3) #code {
  width: 150px !important;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content:nth-child(3) img {
  cursor: pointer;
  width: 100px;
  border: 1px solid #dcdfe6;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content:nth-child(3) input {
  border-radius: 0;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content .u,
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content .p,
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content .c {
  width: 91px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #909399;
  font-size: 14px;
  border: 1px solid #dcdfe6;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content input {
  width: 251px;
  border: 1px solid #dcdfe6;
  border-radius: 0 5px 5px 0;
  padding: 0 15px;
  color: #606266 !important;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content input:focus {
  outline: none;
  border: 1px solid #409eff;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .el-form-item__content span {
  position: absolute;
  top: 40px;
  left: 0;
  white-space: nowrap;
  font-size: 12px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box button {
  cursor: pointer;
  width: 342px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #0db36b;
  background-color: #0cb26a;
}
.login-body .login_right .login-box .box-lb .undl .undl-box button span {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .noun {
  text-align: right;
  padding-top: 2px;
  color: #606266;
  font-size: 14px;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .noun a {
  text-decoration: none;
  color: #0cb26a;
  font-size: 14px;
  font-weight: 500;
}
.login-body .login_right .login-box .box-lb .undl .undl-box .noun a span:hover {
  text-decoration: underline;
}
.scrollbar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 80px;
  height: 240px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  background-color: #fff;
}
.scrollbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.scrollbar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80px;
}
.scrollbar ul li:nth-child(1) {
  position: relative;
}
.scrollbar ul li:nth-child(1) .free-vip {
  display: none;
  position: absolute;
  right: 95px;
  width: 225px;
  height: 60px;
  background-color: #d9cece;
  color: #999;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
}
.scrollbar ul li:nth-child(1) .free-vip .boxx {
  position: absolute;
  bottom: 10px;
  right: -9px;
  width: 0;
  height: 0;
  /* 上边框透明，形成上斜边 */
  border-top: 5px solid transparent;
  /* 下边框透明，形成下斜边 */
  border-bottom: 5px solid transparent;
  /* 左边框有颜色，形成三角形主体 */
  border-left: 10px solid #d9cece;
}
.scrollbar ul li:nth-child(3) {
  position: relative;
}
.scrollbar ul li:nth-child(3) .codeindex {
  display: none;
  position: absolute;
  top: -90px;
  right: 95px;
  z-index: 9999;
  width: 130px;
  height: 130px;
  text-align: center;
  background-color: #8a8080;
  border-radius: 5px;
  line-height: 100px;
}
.scrollbar ul li:nth-child(3) .codeindex img {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 100px;
  height: 100px;
}
.scrollbar ul li:nth-child(3) .codeindex .boxx {
  position: absolute;
  bottom: 10px;
  right: -9px;
  width: 0;
  height: 0;
  /* 上边框透明，形成上斜边 */
  border-top: 5px solid transparent;
  /* 下边框透明，形成下斜边 */
  border-bottom: 5px solid transparent;
  /* 左边框有颜色，形成三角形主体 */
  border-left: 10px solid #8a8080;
}
.scrollbar ul li:nth-child(1):hover {
  background-color: #ffd500;
  color: #fff;
}
.scrollbar ul li:nth-child(2):hover {
  background-color: #1ab273;
  color: #fff;
}
.scrollbar ul li:nth-child(3):hover {
  background-color: #1ab273;
  color: #fff;
}
.scrollbar ul li:last-child span {
  border: none;
}
.scrollbar ul li img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.scrollbar ul li span {
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}
.box {
  width: 100%;
  height: 145px;
  background-color: #fff;
}
.box .box-top {
  width: 1300px;
  height: 90px;
  margin: 0 auto;
  padding-top: 25px;
}
.box .box-top .left {
  display: flex;
  float: left;
}
.box .box-top .left .left-img {
  display: inline-block;
  cursor: pointer;
  margin-right: 50px;
}
.box .box-top .left .left-img a {
  text-decoration: none;
}
.box .box-top .left .left-img .logo-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 70px;
  width: 314px;
  height: 99px;
  background-image: url(https://cdn.uuzixue.com/image/pc/0917/logo_hover.png);
}
.box .box-top .left .left-img:hover .logo-hover {
  display: block;
}
.box .box-top .left .left-search {
  display: flex;
  align-items: center;
}
.box .box-top .left .left-search input {
  width: 314px;
  height: 35px;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 14px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #c0c4cc;
  outline: none;
}
.box .box-top .left .left-search button {
  width: 70px;
  height: 35px;
  border: 0;
  color: #fff;
  border-radius: 0 20px 20px 0;
  background-color: #0db36b;
}
.box .box-top .left .left-search button:hover {
  cursor: pointer;
}
.box .box-top .right {
  float: right;
}
.box .box-top .right .login,
.box .box-top .right .vip {
  float: right;
  margin: 5px 0;
}
.box .box-top .right .login {
  border: 1px solid #0db36b;
  border-radius: 10px;
  text-align: center;
}
.box .box-top .right .login a {
  display: block;
  width: 107px;
  height: 32px;
  color: #0db36b;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
}
.box .box-top .right .vip {
  margin-right: 20px;
  margin-top: 10px;
}
.box .box-top .right .vip a {
  text-decoration: none;
  color: #000;
}
.box .box-top .right .vip a img {
  width: 33px;
  height: 28px;
  vertical-align: middle;
}
.box .menu {
  width: 100%;
  height: 55px;
  background-color: #0db36b;
}
.box .menu .menu-x {
  width: 1300px;
  height: 55px;
  margin: 0 auto;
  background-color: #0db36b;
}
.box .menu .menu-x a {
  display: inline-block;
  padding: 0 30px;
  line-height: 55px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.box .menu .menu-x a:hover {
  background-color: #0a8f56;
}
.box .banner {
  position: relative;
  width: 100%;
  height: 330px;
  cursor: pointer;
  overflow: hidden;
}
.box .banner .banner-img {
  display: flex;
  height: 330px;
  transition: all 1s;
}
.box .banner .banner-img img {
  width: 100%;
  height: 330px;
}
.box .banner ul {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 4px;
  list-style: none;
}
.box .banner ul li {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #8d8e90;
}
.box .title {
  width: 1300px;
  height: 135px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}
.box .title p:nth-child(1) {
  font-size: 36px;
  font-weight: 700;
  color: #333;
}
.box .title p:nth-child(2) {
  font-size: 14px;
  color: #999;
}
.box .new_arrival_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1300px;
  height: 309px;
  padding-top: 15px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.box .new_arrival_list .new_arrival_item {
  position: relative;
  display: flex;
  float: left;
  border-radius: 5px;
  width: 303px;
  height: 290px;
  margin-right: 25px;
  background-color: #fff;
}
.box .new_arrival_list .new_arrival_item:last-child {
  margin-right: 0;
}
.box .new_arrival_list .new_arrival_item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.box .new_arrival_list .new_arrival_item a .item_img_new {
  position: relative;
}
.box .new_arrival_list .new_arrival_item a .item_img_new img {
  width: 100%;
  height: 100%;
}
.box .new_arrival_list .new_arrival_item a .item_img_new .lessonNum {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(30, 6, 61, 0.6);
}
.box .new_arrival_list .new_arrival_item a .item_img_new .lessonNum strong {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}
.box .new_arrival_list .new_arrival_item a .item_img_new .tm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .new_arrival_list .new_arrival_item a .item_img_new .tm:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.box .new_arrival_list .new_arrival_item a span {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #333;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.box .new_arrival_list .new_arrival_item a span::before {
  content: 'VIP';
  width: 40px;
  height: 20px;
  padding: 0 5px;
  border-radius: 5px;
  margin-right: 5px;
  background: linear-gradient(90deg, #faecd2, #edd1a7);
}
.box .free {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 135px;
  background-color: #EDF0EF;
}
.box .free .new_arrival_title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  height: 135px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #EDF0EF;
}
.box .free .new_arrival_title p:last-child {
  position: absolute;
  top: 90px;
}
.box .free .new_arrival_title p:last-child button:hover {
  background-color: #67c23a;
}
.box .free .new_arrival_title p:last-child button:hover span {
  color: #fff;
}
.box .free .new_arrival_title p button {
  width: 103px;
  height: 30px;
  cursor: pointer;
  color: #606266;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid #dcdfe6;
}
.box .free .new_arrival_title p button:hover {
  background-color: #0db36b;
  outline: none;
}
.box .free .new_arrival_title p button span {
  display: block;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
}
.box .free .new_arrival_title .title {
  float: left;
  font-size: 36px;
  font-weight: 700;
  color: #333;
  padding: 0;
}
.box .popular-tutorials {
  width: 100%;
  background-color: #EDF0EF;
  padding-bottom: 50px;
}
.box .popular-tutorials .new_arrival_lists {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 auto;
  padding-top: 15px;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item {
  display: flex;
  float: left;
  width: 300px;
  height: 290px;
  margin-right: 30px;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item a .item_img_new {
  position: relative;
  width: 300px;
  height: 290px;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item a .item_img_new img {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  border-bottom: 0;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item a .item_img_new .tm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item a .item_img_new:hover .tm {
  display: block;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item a span {
  width: 300px;
  height: 40px;
  line-height: 40px;
  color: #333;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item:nth-child(1) {
  margin-left: 5px;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item:nth-child(-n+4) {
  margin-bottom: 20px;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item:last-child {
  margin-right: 0;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item:nth-child(4) {
  margin-right: 0;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item:nth-child(8) {
  margin-right: 0;
}
.box .popular-tutorials .new_arrival_lists .new_arrival_item:nth-child(5) {
  margin-left: 5px;
}
.box .office-skills {
  display: none;
  width: 100%;
  padding-bottom: 50px;
  background-color: #EDF0EF;
}
.box .office-skills .new_arrival_lists {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 auto;
  padding-top: 15px;
}
.box .office-skills .new_arrival_lists .new_arrival_item {
  display: flex;
  float: left;
  width: 300px;
  height: 290px;
  margin-right: 30px;
}
.box .office-skills .new_arrival_lists .new_arrival_item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.box .office-skills .new_arrival_lists .new_arrival_item a .item_img_new {
  position: relative;
  width: 300px;
  height: 290px;
}
.box .office-skills .new_arrival_lists .new_arrival_item a .item_img_new img {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  border-bottom: 0;
}
.box .office-skills .new_arrival_lists .new_arrival_item a .item_img_new .tm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.box .office-skills .new_arrival_lists .new_arrival_item a .item_img_new:hover .tm {
  display: block;
}
.box .office-skills .new_arrival_lists .new_arrival_item a span {
  width: 300px;
  height: 40px;
  line-height: 40px;
  color: #333;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.box .office-skills .new_arrival_lists .new_arrival_item:nth-child(1) {
  margin-left: 5px;
}
.box .office-skills .new_arrival_lists .new_arrival_item:nth-child(-n+4) {
  margin-bottom: 20px;
}
.box .office-skills .new_arrival_lists .new_arrival_item:last-child {
  margin-right: 0;
}
.box .office-skills .new_arrival_lists .new_arrival_item:nth-child(4) {
  margin-right: 0;
}
.box .office-skills .new_arrival_lists .new_arrival_item:nth-child(8) {
  margin-right: 0;
}
.box .office-skills .new_arrival_lists .new_arrival_item:nth-child(5) {
  margin-left: 5px;
}
.box .editing {
  display: none;
  width: 100%;
  padding-bottom: 50px;
  background-color: #EDF0EF;
}
.box .editing .new_arrival_lists {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 auto;
  padding-top: 15px;
}
.box .editing .new_arrival_lists .new_arrival_item {
  display: flex;
  float: left;
  width: 300px;
  height: 290px;
  margin-right: 30px;
}
.box .editing .new_arrival_lists .new_arrival_item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.box .editing .new_arrival_lists .new_arrival_item a .item_img_new {
  position: relative;
  width: 300px;
  height: 290px;
}
.box .editing .new_arrival_lists .new_arrival_item a .item_img_new img {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  border-bottom: 0;
}
.box .editing .new_arrival_lists .new_arrival_item a .item_img_new .tm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.box .editing .new_arrival_lists .new_arrival_item a .item_img_new:hover .tm {
  display: block;
}
.box .editing .new_arrival_lists .new_arrival_item a span {
  width: 300px;
  height: 40px;
  line-height: 40px;
  color: #333;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.box .editing .new_arrival_lists .new_arrival_item:nth-child(1) {
  margin-left: 5px;
}
.box .editing .new_arrival_lists .new_arrival_item:nth-child(-n+4) {
  margin-bottom: 20px;
}
.box .editing .new_arrival_lists .new_arrival_item:last-child {
  margin-right: 0;
}
.box .editing .new_arrival_lists .new_arrival_item:nth-child(4) {
  margin-right: 0;
}
.box .editing .new_arrival_lists .new_arrival_item:nth-child(8) {
  margin-right: 0;
}
.box .editing .new_arrival_lists .new_arrival_item:nth-child(5) {
  margin-left: 5px;
}
.box .allstudy {
  display: none;
  width: 100%;
  padding-bottom: 50px;
  background-color: #EDF0EF;
}
.box .allstudy .new_arrival_lists {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 auto;
  padding-top: 15px;
}
.box .allstudy .new_arrival_lists .new_arrival_item {
  display: flex;
  float: left;
  width: 300px;
  height: 290px;
  margin-right: 30px;
}
.box .allstudy .new_arrival_lists .new_arrival_item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.box .allstudy .new_arrival_lists .new_arrival_item a .item_img_new {
  position: relative;
  width: 300px;
  height: 290px;
}
.box .allstudy .new_arrival_lists .new_arrival_item a .item_img_new img {
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  border-bottom: 0;
}
.box .allstudy .new_arrival_lists .new_arrival_item a .item_img_new .tm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.box .allstudy .new_arrival_lists .new_arrival_item a .item_img_new:hover .tm {
  display: block;
}
.box .allstudy .new_arrival_lists .new_arrival_item a span {
  width: 300px;
  height: 40px;
  line-height: 40px;
  color: #333;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.box .allstudy .new_arrival_lists .new_arrival_item:nth-child(1) {
  margin-left: 5px;
}
.box .allstudy .new_arrival_lists .new_arrival_item:nth-child(-n+4) {
  margin-bottom: 20px;
}
.box .allstudy .new_arrival_lists .new_arrival_item:last-child {
  margin-right: 0;
}
.box .allstudy .new_arrival_lists .new_arrival_item:nth-child(4) {
  margin-right: 0;
}
.box .allstudy .new_arrival_lists .new_arrival_item:nth-child(8) {
  margin-right: 0;
}
.box .allstudy .new_arrival_lists .new_arrival_item:nth-child(5) {
  margin-left: 5px;
}
.box .foot {
  width: 100%;
  height: 226px;
  background: #272c32;
}
.box .foot .foot_container {
  width: 1300px;
  height: 226px;
  margin: 0 auto;
  padding-top: 15px;
}
.box .foot .foot_container .foot_content {
  width: 100%;
  height: 161px;
  border-bottom: 1px solid #3f4245;
}
.box .foot .foot_container .foot_content .left {
  float: left;
  padding-top: 50px;
  list-style: none;
}
.box .foot .foot_container .foot_content .left li {
  float: left;
}
.box .foot .foot_container .foot_content .left li img {
  width: 150px;
  height: 30px;
}
.box .foot .foot_container .foot_content .left li:nth-child(2) p {
  font-size: 12px;
  color: #999;
  padding-left: 35px;
}
.box .foot .foot_container .foot_content .right {
  display: flex;
  float: right;
  width: 210px;
  height: 110px;
  list-style: none;
  margin: 15px 0 0;
}
.box .foot .foot_container .foot_content .right li {
  flex: 1;
  background-color: #3d3e42;
}
.box .foot .foot_container .foot_content .right li img {
  width: 110px;
  height: 110px;
}
.box .foot .foot_container .foot_content .right li p {
  text-align: center;
}
.box .foot .foot_container .foot_content .right li p:nth-child(1) {
  padding-top: 15px;
  color: #fff;
  font-size: 16px;
}
.box .foot .foot_container .foot_content .right li p:nth-child(2) {
  text-align: left;
  padding-top: 15px;
  padding-left: 18px;
  color: #999;
  font-size: 12px;
}
.box .foot .foot_container .foot_bot {
  width: 100%;
  height: 50px;
}
.box .foot .foot_container .foot_bot .left {
  float: left;
  list-style: none;
}
.box .foot .foot_container .foot_bot .left li {
  float: left;
  color: #999;
  font-size: 12px;
  line-height: 50px;
}
.box .foot .foot_container .foot_bot .left li a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.box .foot .foot_container .foot_bot .left li:nth-child(2)::after {
  content: '|';
  padding: 0 15px;
}
.box .foot .foot_container .foot_bot .left li:not(:first-child):hover a {
  color: #0db36b !important;
}
.box .foot .foot_container .foot_bot .right {
  float: right;
  list-style: none;
}
.box .foot .foot_container .foot_bot .right li {
  float: left;
  color: #999;
  line-height: 50px;
  font-size: 12px;
}
.box .foot .foot_container .foot_bot .right li a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
.box .foot .foot_container .foot_bot .right li a:hover {
  color: #0db36b;
}
.box .foot .foot_container .foot_bot .right li:not(:last-child)::after {
  content: '|';
  padding: 0 15px;
}
